
.aumenta-e-sobe{
    animation: aumenta-e-sobe 4s ease infinite alternate;
}
@keyframes aumenta-e-sobe {
    0%{
        transform: scale(1) translate(0px, 0px);
    }
    90%{
        /* brilho */
        filter: brightness(1);
    }
    100%{
        transform: scale(1.2) translate(0px, -44px);
        filter: brightness(1.5);
    }
}

.aparece-e-foca-6s{
    animation: aparece-e-foca 6s ease infinite alternate;
}
.aparece-e-foca-4s{
    animation: aparece-e-foca 4s ease infinite alternate;
}
    @keyframes aparece-e-foca{
    0%{
        opacity: 0;
        filter: blur(10px);
    }
    80%{
       filter: blur(0px ); 
    }
    100%{
      opacity: 1;  
      filter: blur(0px ); 
    }
}